{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/friend.css' %}" />
{% endblock %}

{% block title %} Friend List {% endblock %}

{% block content %}
<style>
    #button {
        -webkit-transition-duration: 0.4s; 
        transition-duration: 0.4s;
    }

    #button:hover {
        background-color: #82ABDC;
        color: white;
    }
    input[type=text] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid Black;
    border-radius: 12px;
    background-color: rgba(51, 204, 255, 0.15);
    color: white;
    }
    input[type=text]:focus {
    border: 3px solid #555;
    }
</style>
    <!-- Main body -->
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 style="font-family: Bell MT; margin-top: 10px; font-weight: 550"> Add Friend </h1>
                <form method="POST" action="/friend/add_friend">
                {% csrf_token %}
                <div class="card">
                    <div class="card-block">
                        <h5 class="card-title" style="font-family: Goudy Old Style"> Name </h5>
                        <!-- Form for new status -->
                            <input type="text" class="form-control" name="name" id="name" required="required"/>
                        <h5 class="card-title" style="font-family: Goudy Old Style; margin-top: 10px"> URL </h5>  
                            <input type="text" class="form-control" name="url" id="url" required="required"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary float-right" style="margin-top: 2px; margin-bottom: 20px" id="button">Add Friend</button>
                </form>
            </div>
            <div class="sol-sm-5">
            </div>
        </div>
    </div>

    <!-- Print errors if any -->
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

<!--  Populate semua isi pesan dari model -->
    <div class = container>
        <div class="flex">
            {% if friend %}
                {% for data in friend %}
                    <div class="flex-item">
                        <div class="friend">
                            <div class="friend-name">
                                {{data.name}}
                            </div>
                            <div class="friend-date-added">
                                {{data.date}}
                            </div>
                            <div class="text-center">
                                <img src="http://www.qygjxz.com/data/out/190/5691490-profile-pictures.png" class="rounded" alt="..." style="margin-bottom: 10px">
                            </div>
                            <div class="friend-url">
                                <a href="{{ data.url }}">{{data.url}}</a>
                            </div>
                            <div class="friend-delete">
                                <div class="friend-delete-button" data-id="{{data.id}}">Delete</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Empty</strong>
            </div>
            {% endif %}
        </div>
    </div>

    <script type="application/javascript">
    $(function() { 
        $('.friend-delete-button').click(function() {
            var id = $(this).data('id')
            location.href = "/friend/delete/" + id + "/"
        });
    });
    </script>

    <!-- List all previous status -->
    <div class="container stasuses">
        {% for i in status reversed %}
            <div class="flex-item">
                <h5> {{ i.user.name }} </h5>
                {{ i.friend }} <br/>
                <sub> {{ i.date }} </sub>
            </div>
        {% endfor %}
    </div>

{% endblock %}