{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profil.css' %}" />
    {% endblock %}
</head>

{% block content %}
    <div class="container">
        <h1 style="font-size: 30px">Edit Profile</h1>
    </div>
    <form method="POST" action="/profile/submit" style="margin-top: 20px; margin-left:20px">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-6">
                    <input type="hidden" name="id" value="{{default_user.id}}">
                    <h6 style="margin-top: 10px">Name:</h6>
                    <input type="text" name="name" value="{{default_user.name}}" size="25">
                    <h6 style="margin-top: 10px">Birthday:</h6>
                    <input type="date" name="birthday" value="{{default_user.birthday}}"" size="25">
                    <br>
                    <h6 style="margin-top: 10px">Gender:</h6>
                    <input type="radio" name="gender" value="Male" {% if default_user.gender == "Male" %} checked {% endif %}> Male
                    <input type="radio" name="gender" value="Female" {% if default_user.gender == "Female" %} checked {% endif %}> Female
                    <br>                
                    <h6 style="margin-top: 10px">Email:</h6>
                    <input type="email" name="email" value="{{default_user.email}}" size="25">
                    <br>
                    <h6 style="margin-top: 10px">Expertise:</h6>
                    <input type="text" name="expertise" value="{{default_user.expertise}}" size="50">
                </div>
                <div class="col-sm-5" style="margin-top: 15px">
                    <h6 style="margin-top: 10px">Description:</h6>
                    <textarea type="paragraph_text" name="description" style="width: 100%" rows="10">{{default_user.description}}</textarea>
                    <br>
                    <button type="submit" class="btn btn-primary float" id="button" style="margin-top: 20px">Submit</button>
                    <a class="btn btn-primary float" style="margin-top: 20px; margin-left: 10px" id="button" href="/profile/">Cancel</a>    
                    <br>
                </div>    
            </div>
        </div>
    </form>
{% endblock %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</html>
