{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profil.css' %}" />
    {% endblock %}
</head>
{% block content %}
	<div class="container">
    	<h1 id="desainProfile" style="font-size: 30px;">Profile</h1>
    </div>
    <div class="container-fluid bg-1 text-center jumbotron" id="desainPPnDN">
    	<img src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.theimaginativeconservative.org%2Fwp-content%2Fuploads%2F2015%2F04%2Frobert-downey-jr.png&f=1" alt="me" width="164" height="164">
        <h2 style="margin-top: 10px"><b>{{default_user.name}}</b></h2>
        <br>
        <h4>{{default_user.email}}</h4>
	</div>
    <div class="container-fluid" style="margin-top: 35px;">
        <div class="row" style="margin-top: 15px">
            <h4 class="col-sm-3"></h4>
            <h5 class="col-sm-2"><b>Birthday</b></h5>
            <h5 class="col-sm-5">{{default_user.birthday}}</h5>
        </div>
        <div class="row" style="margin-top: 15px">
            <h4 class="col-sm-3"></h4>
            <h5 class="col-sm-2"><b>Gender</b></h5>
            <h5 class="col-sm-5">{{default_user.gender}}</h5>
        </div>
        <div class="row" style="margin-top: 15px">
            
            <h4 class="col-sm-3"></h4>
            <h5 class="col-sm-2"><b>Expertise</b></h5>
            <ul class="col-sm-2">
            {% for ii in expertise %}
                <h5 class="outset"> {{ ii }} </h5>
            {% endfor %}
            </ul>
            <ul class="col-sm-2">
            {% for ii in expertise1 %}
                <h5 class="outset"> {{ ii }} </h5>
            {% endfor %}
            </ul>
            <ul class="col-sm-2">
            {% for ii in expertise2 %}
                <h5 class="outset"> {{ ii }} </h5>
            {% endfor %}
            </ul>
        </div>
        <div class="row" style="margin-top: 15px">
            <h4 class="col-sm-3"></h4>
            <h5 class="col-sm-2"><b>Description</b></h5>
            <h5 class="col-sm-5">{{default_user.description}}</h5>
        </div>
        <a class="btn btn-primary float-right" style="margin-right: 5%" href="/profile/edit" id="button">Edit Profile
        </a>
    </div>

{% endblock %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</html>
