body{
    background-image: url("http://hamadahideaki.com/image/20170101_IMG_8435_HH-final.jpg");
    height: 92%;
    background-position: center;
}
.card {
    background: rgba(51, 51, 51, 0.1);
    margin-top: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
 }

.friend{
  text-align: center;
  background: #fff;
  position: relative;
  z-index: 15;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.friend:hover {
  box-shadow:0 10px 10px 12px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 10px 10px 12px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 10px 10px 12px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 10px 10px 12px rgba(0, 0, 0, 0.2);

  transform: translate(0, -5px);
  -webkit-transform: translate(0, -5px);
  -moz-transform: translate(0, -5px);
  -o-transform: translate(0, -5px);  
}

.friend:after{
    content:"";
    display:block;
    height:25px; /* Which is the padding of div.container */
    background: #fff;
}

.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}
.flex-item{
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
}

.friend .friend-name {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 10px 0;
}
.friend .friend-date-added {
  font-size: 12px;
  padding: 0 10px;
}
.friend .friend-url {
  padding: 10px 25px;
  z-index: 15;
  background: #fff;
  height: 125px;
  text-align: justify;
  overflow: auto;
}
.friend .friend-delete {
  background: #e45;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  height: 50px;
  bottom: 1px;
  position: absolute;
  cursor: pointer;
  z-index: -1;
  -webkit-border-radius: 0 0px 2px 2px;
  -moz-border-radius: 0 0px 2px 2px;
  -o-border-radius: 0 0px 2px 2px;
  border-radius: 0 0px 2px 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.friend:hover .friend-delete {
  bottom: -50px;
}
/*.to-do-list .to-do-list-delete:hover{
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
}*/

@media only screen and (max-width: 768px) {
  #input-list form {
      width: 290px;
  }
  .friend .friend-delete {
   bottom: -50px;
  }
  .flex-item{
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }
}
