body{
    background-image: url("http://hamadahideaki.com/image/20170101_IMG_8435_HH-final.jpg");
    height: 92%;
    background-position: center;
}
.card {
    background: rgba(51, 51, 51, 0.1);
    margin-top: 1rem;
    padding: 1rem;

}