.active-link{
	color:white;
	border-bottom: 5px solid #FFF;
}

.navigation-bar{
	/* background:#000; */
}

.nav-item{
	z-index:1;
}

a.nav-link:hover{
	color:white;
}

.nav-background{
	margin-top:-90px;
	background:#000;
	width:100%;
	height:100px;
	opacity:0;
	/* padding:-0.5rem, -1rem; */
}

.show{
	opacity:0.4;
}

.show-background{
	background:transparent;
}

.transition {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

#brand-title{
	color:white;
}

.navigation-link{
	color:#BBB;
}
