.active-link{
	color:black;
	border-bottom: 5px solid #FFF;
}

.navbar{
	padding:0rem 0rem;
}

.nav-item{
	z-index:1;
	color:#BBB;
}

a.nav-link:hover{
	color:white;
}

.nav-background{
	margin-top:-90px;
	background:#000;
	width:100%;
	height:100px;
	opacity:0.7;
}

.show{
	opacity:0.2;
}

.transition {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

#brand-title{
	color:white;
	font-size:2rem;
	z-index:1;
}

.navigation-link{
	color:#BBB;
}

.nav-link{
	color:#BBB;
}

#row1{
	display:flex;
	flex-direction:row;
}

#column1{
	display:flex;
	flex-direction:column;
}

#column2{
	display:flex;
	flex-direction:column;
}
