body {
    height: 100%;
    margin:0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: #0cebeb;   fallback for old browsers 
	background: -webkit-linear-gradient(to right, #ccfff1, #00ffbb, #0cebeb);   Chrome 10-25, Safari 5.1-6 
	background: -o-linear-gradient(to right, #ccfff1, #00ffbb, #0cebeb);  For Opera 11.1 to 12.0 
	background: -moz-linear-gradient(to right, #ccfff1, #00ffbb, #0cebeb);
	background: linear-gradient(to right, #ccfff1, #00ffbb, #0cebeb);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
    /*background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

img {
    border-radius: 50%;
}

h5.outset{
	border-style: outset;
	border-color: LightGrey;
	border-radius: 12px;
	text-align: center;
}
#desainProfile{
	color: Black;
}
#desainPPnDN{
	border-style: inset;
	border-width: 8px;
	max-width: 500px;
	background-color: Aquamarine;
	margin-top: 10px;
	box-shadow: 0 2px 10px 10px #61BFA0;
}
#button {
	-webkit-transition-duration: 0.2s; 
    transition-duration: 0.2s;
}
#button:hover {
    background-color: MediumSeaGreen; 
    color: white;
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid MediumSeaGreen;
    border-radius: 12px;
    background-color: MediumAquaMarine;
    color: white;
}

input[type=email] {
    width: 80%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid MediumSeaGreen;
    border-radius: 12px;
    background-color: MediumAquaMarine;
    color: white;
}

input[type=date] {
    width: 80%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid MediumSeaGreen;
    border-radius: 12px;
    background-color: MediumAquaMarine;
    color: white;
}

textarea[type=paragraph_text] {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid MediumSeaGreen;
    border-radius: 12px;
    background-color: MediumAquaMarine;
    color: white;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=email]:focus {
    border: 3px solid #555;
}

textarea[type=paragraph_text]:focus {
    border: 3px solid #555;
}

input:checked {
    height: 20px;
    width: 20px;
}

div.transbox{
	background-color: Blue;
	opacity: 0.2;
	border-color: black;
}

div.transbox h5{
	font-weight: bold;
    color: #000000;
}