body {
	font-family: Oswald;
    height: 100%;
    margin: 0;
    background-size: cover;
    background: linear-gradient(121deg, #cfe6fc 0%, #67b1fc 75%) fixed;
	/* text-shadow:#000 0rem 0rem 0.1px; */
}

#style-jumbotron{
	padding-top: 15px;
    padding-bottom: 15px;
	background-color: rgba(0,0,0,0.15);
	margin-top: 10px;
}

.center{
	display: block;
	margin: auto;
	width:50%;
}
.outer{
	width: 100%;
	margin: 0 auto;
}

.inner{
	display: table;
	margin: 0 auto;
}

.pic {
    max-height: 10rem;
	border-radius: 50%;
	border: .1em solid #fff;
}

.mini-pic{
    max-height: 5rem;
	border-radius: 50%;
	border: .1em solid #fff;
	float:left;
	align:left;
	margin-right: 1.5rem;
}
.statistic-top{
	font-height:3rem;
}

.flex-item{
	height:7rem;
	padding:1rem;
}

.last-post{
	font-size:1rem;
}

#friend-span{

}

.middle-something{
}

#feed-friend{
	font-size:1.5rem;
	display:flex;
	flex-direction:row;
	margin-top:2rem;
}

#column1{
	display:flex;
	flex-direction:column;
}
#column2{
	display:flex;
	flex-direction:column;
}

