body {
    height: 100%;
    margin: 0;
    background-size: cover;
    background: linear-gradient(141deg, #DD5E89 0%, #F7BB97 75%) fixed;
}

.input-group {
    width: 50%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.input-group:focus {
        width: 80%;
}

.status {
    margin-bottom: 1rem;
}

.comment-section {
}

.show {
  display: block !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.invisible {
  visibility: hidden;
}

.comment {
    width: 50%;
    padding-bottom: 2px;
    background: rgba(100, 51, 51, 0.1);

}

.pic {
    padding-right: 1rem;
    max-height: 5rem;
    align: left;
    float: left;
}

.card {
    background: rgba(51, 51, 51, 0.1);
    margin-top: 1rem;
    padding: 1rem;
}

.flex-item {
    /*outline: auto;*/
    height: rem;
    padding: 1rem;
}