body {
    height: 100%;
    margin: 0;
    background-size: cover;
    background: linear-gradient(141deg, #DD5E89 0%, #F7BB97 75%) fixed;
}

/*.input-group {*/
    /*width: 100%;*/
    /*-webkit-transition: width 0.4s ease-in-out;*/
    /*transition: width 0.4s ease-in-out;*/
/*}*/

/*.input-group:focus {*/
    /*width: 80%;*/
/*}*/

.status {
    margin-bottom: 1rem;
}

.comment-section {
    width: 50%;
}

.comment {
    width: 100%;
    padding-bottom: 2px;
    background: rgba(100, 51, 51, 0.1);
}

.asdsf {
    padding: 0.5rem;
}

.pic {
    padding-right: 1rem;
    max-height: 5rem;
    align: left;
    float: left;
}

.card {
    background: rgba(51, 51, 51, 0.1);
    margin-top: 1rem;
    padding: 1rem;
}

.flex-item {
    /*outline: auto;*/
    padding: 1rem;
}