body {
    height: 100%;
    margin: 0;
    background-size: cover;
    background: linear-gradient(141deg, #DD5E89 0%, #F7BB97 75%) fixed;
}

/*.input-group {*/
    /*width: 100%;*/
    /*-webkit-transition: width 0.4s ease-in-out;*/
    /*transition: width 0.4s ease-in-out;*/
/*}*/

/*.input-group:focus {*/
    /*width: 80%;*/
/*}*/

.status {
    margin-bottom: 1rem;
}

#status-field{
    border-color: rgba(51, 51, 51, 0.4);
    background-color: rgba(0,0,0,0.1);
}

#status-field::placeholder {
  color: #333333;
}

#status-field:focus {
  color: Black;
}

.comment-section {
    width: 50%;
}

.comment {
    width: 100%;
    padding-bottom: 2px;
    background: rgba(100, 51, 51, 0.1);
}

.asdsf {
    padding: 0.5rem;
}

.pic {
    padding-right: 1rem;
    max-height: 5rem;
    align: left;
    float: left;
}

.card {
    background: rgba(51, 51, 51, 0.1);
    margin-top: 1rem;
    padding: 1rem;
}

.flex-item {
    /*outline: auto;*/
    padding: 1rem;
}

#button:hover {
    background-color: #ff6666; 
    color: white;
}
/*
#comment{
    width: 100px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}*/

/*#comment:focus{
    width: 100%;
}
*/
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 5px;
    background-color: rgba(0,0,0,0.1);
    color: White;
    border-color: rgba(51, 51, 51, 0.4);
}
input[type=text]::placeholder {
  color: #333333;
}

#button-delete{
    border-radius: 12px;
    padding-left: 5px;
    padding-bottom: 5px; 
    padding-right: 5px;
    padding-top: 5px;
    color: White;
}

#button-delete:hover{
    background-color: rgba(255,0,0,0.15);
}