{% extends "base.html" %}
{% load static %}

{% block title %}

{% endblock %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title></title>
		{% block css %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/stats.css' %}" />
			<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
		{% endblock %}
	</head>
	<body>
		{% block content %}
			<div class="container">
				<h1 id="statistic-top">Statistic</h1>
				<div class="outer jumbotron" id="style-jumbotron">
					<img class="img-circle inner pic" src="{{profile_picture}}" alt="Profile Picture">
					<h1 class="inner">{{default_user.name}}</h1>
				</div>
				<div id="feed-friend">
					<div id="column1" class="middle-something inner"><span id="friend-span">
							Friends {{number_of_friends}} people
						</span></div>
					<div id="column2" class="middle-something inner"><span id="feed-pan">
							Feeds {{number_of_posts}} posts
						</span></div>
				</div>
				<div class="flex-item">
					<div><p>Latest Post</p></div>
					<div class="flex-item">
						<img class="img-circle mini-pic" src="{{profile_picture}}" alt="Profile Picture">
						<h5>{{default_user.name}}</h5>
						{{latest_status.status}}<br>
						<sub>{{latest_status.date}}</sub>
					</div>
					
				</div>

			</div>
		{% endblock content %}
	</body>
</html>
