{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            #desain_footer{
                background-color: rgba(0,0,0,0.15);
                padding-bottom: 8px;
                padding-top: 8px;
                margin-top: 15px;
                margin-bottom: 1px;
            }

			.podbar {
				bottom:0;
				position:fixed;
				z-index:150;
				_position:absolute;
				_top:expression(eval(document.documentElement.scrollTop+
					(document.documentElement.clientHeight-this.offsetHeight)));
				height:35px;
				width:100%;
				margin:auto;
			}
        </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>
            {% block title %} Lingin Uye {% endblock %}
        </title>

        <!-- CSS files -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static "css/header.css" %}"/>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
        {% block css %}
        {% endblock %}
    </head>

    <body>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<head>
			{% include "header.html" %}
		</head>
        <content>
            {% block content %}
            <!-- Content goes here -->
            {% endblock %}
        </content>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <br>
        <br>
        <footer class="jumbotron podbar" id="desain_footer">
            <center>
                {% include "footer.html" %}
            </center>
        </footer>
    </body>
</html
