{% load  static %}
	<nav  class="navbar navbar-light sticky-top bg-faded ">
		<script src="{% static "css/header.js" %}"></script>
		<div class="container ">
			<a id="brand-title" class="navbar-brand" href="\">Lingin</a>
			<ul class="nav">
				<li id="status" class="nav-item"><a class="nav-link" href="/status">Status</a></li>
				<li id="profil" class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
				<li id="friend" class="nav-item"><a class="nav-link" href="/friend">Friend</a></li>
				<li id="stats" class="nav-item"><a class="nav-link" href="/stats">Stats</a></li>
			</ul>
		</div>
		<div class="nav-background transition"></div>
	</nav>
