{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/status.css' %}" />
{% endblock %}

{% block content %}
    <!-- Main body -->
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <h1>Komentar</h1>
            </div>
            <div class="col-sm-10">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title"> Komentar </h4>
                        <!-- Form for new status -->
                        <form class="card-text" method="POST" action="{% url 'status:add' %}">
                            {% csrf_token %}
                            <input class="form-control" type="text" name="comment" />
                            <button class="btn btn-primary float-right">Post</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}