{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/status.css' %}" />
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 style="font-family: Bell MT; margin-top: 10px; font-weight: 550"> Add Comment </h1>
                <form action="{% url 'status:comment' status %}" method="POST">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-block">
                            <!-- Form for new name -->
                            <h5 class="card-title" style="font-family: Goudy Old Style"> Name </h5>
                                <input type="text" class="form-control" name="name" id="name" />
                            <h5 class="card-title" style="font-family: Goudy Old Style; margin-top: 10px"> Comment </h5>  
                                <input type="text" class="form-control" name="text" id="text" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary float-right" style="margin-top: 8px; margin-bottom: 20px" id="button">Add Comment</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}