{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/status.css' %}" />
{% endblock %}

{% block content %}
    <!-- Main body -->
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h3>Status</h3>
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title"> Update Status </h4>
                        <!-- Form for new status -->
                        <form class="card-text" method="POST" action="{% url 'status:add' %}">
                            {% csrf_token %}
                            <input class="form-control" name="status" id="status-field" title="status" placeholder="Enter Status..." />
                            <button class="btn btn-primary float-right" id="button" style="margin-top: 10px">Post</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Print errors if any -->
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <!-- List all previous status -->
    <div class="container stasuses">
        {% for i in status reversed %}
            <div class="flex-item">
                <div class="status">
                    <img class="img-circle pic" src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.theimaginativeconservative.org%2Fwp-content%2Fuploads%2F2015%2F04%2Frobert-downey-jr.png&f=1" alt="me">
                    <h5> {{ name }} </h5>
                    {{ i.status }} <br/>
                    <sub> {{ i.date }} </sub>
                    <a class="btn btn-secondary float" id="button-delete" href="/status/delete/status/{{ i.id }}" style="margin-left: 10px">Delete</a>
                </div>
                <div class="comment-section">
{#                <p>Show comments..</p>#}
{#                <div class="hidden">#}
                    {% if i.comment_set.all %}
                        <div class="comment">
                            {% for comment in i.comment_set.all %}
                                <div class="asdsf" style="padding-bottom: 25px;">
                                    <h5> {{ comment.name }}</h5>
                                    {{ comment.text }} </br>
                                    <sub> {{ comment.created_on }} </sub>
                                    <a class="btn btn-secondary float-right" id="button-delete" href="/status/delete/comment/{{ comment.id }}">Delete</a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <form action="{% url 'status:comment' i.id %}" method="GET" >
                        {% csrf_token %}
                        <button class="btn btn-secondary" type="submit" id="button" style="margin-left: 10px; margin-top: 5px">Add comment
                    </form>
{#                    <p>Hide comments..</p>#}
{#                </div>#}
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Scripts -->
{#    <script type="application/javascript">#}
{#        $( ".comment-section" ).click(function() {#}
{#            console.log(this.className+ " ")#}
{#            if ( this.tagName === "DIV" ){#}
{#                $( this.children ).toggleClass( "hidden" );#}
{#            }#}
{#            console.log("What the fuck");#}
{#        });#}
{#    </script>#}

{% endblock %}